@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;

    /**************
        COLOR
    ***************/
    --text-color: black;
    --primary-color: white;
    --secondary-color: black;

    /**************
        DIMENSION
    ***************/
    --header-height: 10vh;
    --section-height: 100vh;
    --padding-top-to-account-header: var(--header-height);
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: lightgrey;
}

/**************
    HEADER
***************/
header {
    position: sticky;
    top: 0;
}
.header {

    /*border: 10px solid blue;*/
    --percent-logo-wrapper: 15%;

    background-color: var(--secondary-color);
    color: white;

    height: var(--header-height);


    display: flex;
    justify-content: space-between;

    /**************
        LOGO
    ***************/
    .logo-wrapper {
        /*background-color: lightblue;*/
        width: var(--percent-logo-wrapper);
        height: 100%;

        display: flex;
        justify-content: center;

        .logo {
            font-family: "Arial Black";
            font-size: xxx-large;
            color: white;

        }
    }

    /**************
        NAVBAR
    ***************/
    .navbar-wrapper {
        /*background-color: red;*/
        height: 100%;
        flex-grow: 1;
        display: flex;
        justify-content: center;

        .navbar {
            /*background-color: purple;*/
            margin: 0;
            padding-right: 50px;

            width: max-content;
            display: flex;
            align-items: center;

            ul {
                padding-left: 0;

                display: flex;
                align-items: center;
                justify-content: space-around;

                li {
                    margin: 0 20px;

                    list-style: none;
                    text-align: center;
                    font-size: 17px;
                    font-weight: bolder;

                    a {
                        text-decoration: none;
                        color: white;

                    }
                }
            }
        }
    }

    /**************
        NAVBAR
    ***************/

    .social-icons-wrapper {
        /*background-color: red;*/
        padding-right: 2%;

        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;

        a {
            /*background-color: #04AA6D;*/
            height: 60%;

            border: none;
            color: white;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: space-evenly;

            /*display: inline-block;*/

            .social-icon {
                color: white!important;
                height: 90%!important;
                width: 90%!important;
            }
        }
    }
}

/**************
    HERO
***************/
.hero {
    height: calc(100vh - var(--header-height));
    background: url("assets/images/hero-background.jpg");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;

    background-color: #F4F3F1;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5%;

    .hero-message {
        background-color: rgba(205, 201, 200, 0.5);
        margin-left: 5%;
        height: 80%;
        width: 40%;
        display: flex;
        align-items: center;
        flex-direction: column;

        h1 {
            font-size: xxx-large;
            font-weight: bolder;
        }
    }

    /*.hero-image {*/
    /*    height: 80%;*/
    /*    width: 30%;*/
    /*    background-color: green;*/
    /*}*/

    .hero-right {

        height: 100%;
        width: 50%;

        display: flex;
        align-items: start;
        justify-content: center;

        .tech-icon-container {
            /*background-color: darkgrey;*/
            height: 35%;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 10px;
            .tech-icon-wrapper {
                /*background-color: greenyellow;*/
                height: 25%;
            }
        }

    }
}

/**************
    ABOUT
***************/
.about {
    height: var(--section-height);
    padding-top: var(--header-height);

}

/**************
    PORTFOLIO
***************/
.project {
    height: var(--section-height);
    padding-top: var(--header-height);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    /**************
        PORTFOLIO INTRO
    ***************/
    .project-intro {
        background-color: rgba(255, 255, 255, 0.8);
    }

    /**************
        PORTFOLIO PROJECTS
    ***************/
    .project-list-wrapper {
        background-color: olivedrab;

        display: flex;
        width: 100%;
        flex: 1;
        overflow: hidden; /* prevents overflowing in case child elements grow too big */

        ul {
            padding-left: 0;
            /*flex: 1;*/
            /*width: 100%;*/

            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 1%; /* somehow this works, allow a good gap between flex children */

            li {
                width: 25%;
                height: 40%;

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column-reverse;

                list-style: none;
                text-align: center;
                font-size: 17px;

                img {
                    overflow: auto; /* scale image to fit parent */
                }

                h4 { }
            }
        }
    }
}

.contact {
    height: var(--section-height);
    padding-top: var(--header-height);

}

.footer {

}
